body
{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: serif;

}

h1
{
  color: #66BFBF;
  font-size: 35px;
  margin: 50px auto 0px auto;
}

h2
{
  color: #66BFBF;
  font-size: 20px;
  padding-bottom: 10px;
}

p
{
  line-height: 2;
}

a
{
  color: #11999E;
  margin: 10px 25px;
}

.heder
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.HTML
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.CSS
{
  padding: 50px 0 20px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height: 2;
}

.htmlimg
{
  float: left;
  margin-right: 30px;
}

.cssimg
{
  float: right;
  margin-left: 30px;
}
